@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Nunito:wght@700&family=Orbitron&family=Russo+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background: #bdc3c7;
  background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);
  background: linear-gradient(to left, #2c3e50, #bdc3c7);
  justify-content: space-between;
  border-bottom: 2px solid #093D65;
}
header a .logo {
  width: 180px;
  position: relative;
  margin: 10px;
}
header nav #check {
  display: none;
}
header nav .bar-btn fa-solid fa-bars {
  display: none;
}
header nav .menu li {
  list-style: none;
  display: inline-block;
  position: relative;
  align-items: center;
  padding: 0 20px;
  background-color: white;
  border-radius: 20px;
  margin-top: 80px;
  border: 1px solid #093D65;
}
header nav .menu li:hover {
  transform: scale(1.1);
  background: #f46b45;
  background: -webkit-linear-gradient(to left, #eea849, #f46b45);
  background: linear-gradient(to left, #eea849, #f46b45);
}
header nav .menu li a {
  font-size: 22px;
  text-decoration: none;
  color: #093D65;
}
header #carrito {
  margin-right: 50px;
  margin-top: 90px;
  margin-top: 0px;
  justify-content: end;
  margin-right: 50px;
}
header #carrito a img {
  width: 50px;
  width: 40px;
}
header #carrito a img:hover {
  transform: scale(1.2);
}

main {
  background: #093D65;
  display: flex;
  flex-direction: column;
}
main article {
  background: #659999;
  background: -webkit-linear-gradient(to left, #f4791f, #659999);
  background: linear-gradient(to left, #f4791f, #659999);
  border: 2px outset black;
  border-radius: 10px;
  display: flex;
}
main article div .imagenes_main {
  border: 2px outset white;
  border-radius: 20px;
}
main article div #imagen_silla {
  width: 200px;
  margin: 10px;
}
main article .contenedor_textos {
  flex-direction: column;
}
main article .contenedor_textos .titulos {
  font-size: 40px;
  font-family: "Orbitron";
  color: #093D65;
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
}
main article .contenedor_textos .descripciones {
  margin: 50px;
  font-size: 20px;
  font-family: "Belanosima";
  color: white;
}
main .articulo_derecha div .titulos {
  font-size: 40px;
  font-family: "Orbitron";
  color: #093D65;
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
}
main .articulo_derecha div .descripciones {
  margin: 50px;
  font-size: 20px;
  font-family: "Belanosima";
  color: white;
}
main .articulo_derecha div #imagen_auri {
  width: 200px;
  margin: 10px;
}
main #articulo_clientes {
  flex-direction: column;
}
main #articulo_clientes div .titulos {
  font-size: 40px;
  font-family: "Orbitron";
  color: #093D65;
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
}
main #articulo_clientes #division_clientes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
main #articulo_clientes #division_clientes #imagen_cliente_1 {
  width: 200px;
}
main #articulo_clientes #division_clientes #imagen_cliente_2 {
  width: 210px;
}
main #articulo_clientes #division_clientes #imagen_cliente_3 {
  width: 240px;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: grey;
  justify-content: space-between;
}
footer #nav_foot {
  margin-left: 0px;
  top: 100%;
}
footer #nav_foot li {
  display: inline-block;
  padding: 0 5px;
  margin-top: 5px;
}
footer #nav_foot li a {
  color: #ffffff;
  font-size: 17px;
  text-decoration: none;
}
footer #nav_foot li a:hover {
  color: #093D65;
}
footer .seccion_redes_2 {
  display: flex;
  flex-direction: row-reverse;
}
footer .seccion_redes_2 a #imagenes {
  width: 28px;
  height: 28px;
  margin-right: 20px;
  text-decoration: none;
}

.main_nosotros, .main_nosotros .ubicacion, .main_nosotros .quienes_somos {
  display: flex;
  flex-direction: column;
}
.main_nosotros .quienes_somos {
  text-align: center;
}
.main_nosotros .quienes_somos .titulos {
  font-size: 40px;
  font-family: "Orbitron";
  color: #093D65;
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
}
.main_nosotros .quienes_somos .descripciones {
  margin: 50px;
  font-size: 20px;
  font-family: "Belanosima";
  color: white;
}
.main_nosotros .ubicacion div .titulos {
  font-size: 40px;
  font-family: "Orbitron";
  color: #093D65;
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
}
.main_nosotros .ubicacion #ubicacion_direccion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.main_nosotros .ubicacion #ubicacion_direccion .mapa {
  width: 400px;
  height: 300px;
  border-radius: 5px;
  border: 2px outset white;
}
.main_nosotros .ubicacion #ubicacion_direccion .descripciones {
  margin: 50px;
  font-size: 20px;
  font-family: "Belanosima";
  color: white;
}
.main_nosotros .info_extra {
  display: flex;
  flex-direction: row;
}
.main_nosotros .info_extra .seccion_info_extra {
  background: #659999;
  background: -webkit-linear-gradient(to left, #f4791f, #659999);
  background: linear-gradient(to left, #f4791f, #659999);
  border: 2px outset black;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}
.main_nosotros .info_extra #metodos_pago .textos_info_extra {
  margin: 10px;
  text-align: center;
}
.main_nosotros .info_extra #metodos_pago #titulos_info_extra {
  color: #093D65;
  font-size: 22px;
  font-family: "Russo One";
}
.main_nosotros .info_extra #metodos_pago #informacion {
  color: white;
  font-family: "Nunito";
  text-align: center;
}
.main_nosotros .info_extra #horarios {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.main_nosotros .info_extra #horarios .textos_info_extra {
  margin: 10px;
  text-align: center;
}
.main_nosotros .info_extra #horarios #titulos_info_extra {
  color: #093D65;
  font-size: 22px;
  font-family: "Russo One";
}
.main_nosotros .info_extra #horarios #informacion {
  color: white;
  font-family: "Nunito";
  text-align: center;
}
.main_nosotros .info_extra #garantia .textos_info_extra {
  margin: 10px;
  text-align: center;
}
.main_nosotros .info_extra #garantia #titulos_info_extra {
  color: #093D65;
  font-size: 22px;
  font-family: "Russo One";
}
.main_nosotros .info_extra #garantia #informacion {
  color: white;
  font-family: "Nunito";
  text-align: center;
}

.icono_wsp a #wsp {
  width: 80px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  transition: all 0.3s;
}
.icono_wsp a #wsp:hover {
  transform: scale(1.2);
}

main {
  display: flex;
  flex-direction: column;
}
main .articulos_promos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .articulos_promos div .titulos {
  font-size: 40px;
  font-family: "Orbitron";
  color: #093D65;
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
}
main .articulos_promos div #silla_banner {
  border-radius: 5px;
  margin-left: 10px;
  width: 98%;
}
main .articulos_promos div .titulos {
  font-size: 40px;
  font-family: "Orbitron";
  color: #093D65;
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
}
main .articulos_promos div #promo_mes {
  border-radius: 5px;
  margin-left: 10px;
  width: 98%;
}

.menu_tutoriales, .menu_tutoriales .articulo_tutoriales {
  display: flex;
  flex-direction: column;
}
.menu_tutoriales .articulo_tutoriales {
  align-items: center;
  text-align: center;
}
.menu_tutoriales .articulo_tutoriales div .titulos {
  font-size: 40px;
  font-family: "Orbitron";
  color: #093D65;
  margin-top: 10px;
  text-align: center;
  font-size: 25px;
}
.menu_tutoriales .articulo_tutoriales div .videos {
  width: 560px;
  height: 315px;
}

.menu_productos {
  display: flex;
  background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
}
.menu_productos .layout {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.menu_productos .layout .contenedor_p {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 20px;
}
.menu_productos .layout .contenedor_p > div {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background: #FF512F;
  background: -webkit-linear-gradient(to top, #F09819, #FF512F);
  background: linear-gradient(to top, #F09819, #FF512F);
  border-radius: 25px;
}
.menu_productos .layout .contenedor_p div .imagen_productos {
  width: 320px;
  height: 340px;
  border-radius: 20px 20px 0px 0px;
}
.menu_productos .layout .contenedor_p div .informacion_p {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.menu_productos .layout .contenedor_p div .informacion_p > h5 {
  font-size: 25px;
  font-weight: 300;
}
.menu_productos .layout .contenedor_p div .informacion_p .titulos {
  font-family: "Orbitron";
  color: #093D65;
}
.menu_productos .layout .contenedor_p div .informacion_p p {
  font-family: "Belanosima";
}
.menu_productos .layout .contenedor_p div .informacion_p #botones_p {
  background: #005C97;
  background: -webkit-linear-gradient(to left, #363795, #005C97);
  background: linear-gradient(to left, #363795, #005C97);
  color: white;
  border-radius: 4px;
  padding: 0 20px;
  text-decoration: none;
  border: 1px solid #093D65;
}
.menu_productos .layout .contenedor_p div .informacion_p #botones_p:hover {
  transform: scale(1.2);
}

@media (max-width: 1024px) {
  #silla_banner {
    border-radius: 5px;
    margin-left: 10px;
    width: 1000px;
  }
  .titulos {
    font-size: 4px;
  }
}
@media (max-width: 800px) {
  #silla_banner {
    border-radius: 5px;
    margin-left: 10px;
    width: 700px;
  }
}
@media (max-width: 600px) {
  header {
    height: 150px;
    flex-direction: row;
  }
  header a .logo {
    width: 160px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  header nav .menu li {
    display: flex;
    padding: 1 5px;
    margin-top: 0px;
  }
  header #carrito {
    margin-right: 50px;
    margin-top: 0px;
    justify-content: end;
  }
  header #carrito a img {
    width: 40px;
  }
  #division_clientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
  }
  #division_clientes #imagen_cliente_1 {
    width: 200px;
  }
  #division_clientes #imagen_cliente_2 {
    width: 210px;
  }
  #division_clientes #imagen_cliente_3 {
    width: 240px;
  }
  .icono_wsp a #wsp {
    width: 60px;
  }
  .menu_productos {
    display: flex;
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);
  }
  .menu_productos .layout {
    width: 100%;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  footer #nav_foot li a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
  }
  footer .seccion_redes_2 a #imagenes {
    width: 23px;
    height: 23px;
  }
  main article {
    flex-direction: column;
    align-items: center;
  }
  .menu_tutoriales .articulo_tutoriales div .videos {
    width: 450px;
  }
}

/*# sourceMappingURL=style.css.map */
