main{
    @include main;
    .articulos_promos{
        display: flex;
        flex-direction: column;
        align-items: center;
        div{
            .titulos{
                @include titulos;
            }
        }
        div{
            #silla_banner{
                @include imagenes_promociones;

                @if (max: with 1024px){
                    width: 900px;
                }
            }
        }
    }
    .articulos_promos{
        div{
            .titulos{
                @include titulos;
            }
        }

        div{
            #promo_mes{
                @include imagenes_promociones;


            }
        }
    }
}