@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Nunito:wght@700&family=Orbitron&family=Russo+One&display=swap');
//COLORES PARA EL HEADER
$color-header1:#bdc3c7; 
$color-header2:-webkit-linear-gradient(to left, #2c3e50, #bdc3c7);
$color-header3:linear-gradient(to left, #2c3e50, #bdc3c7);
$fondo-azul:#093D65;
$color-nav1:#f46b45;
$color-nav2:-webkit-linear-gradient(to left, #eea849, #f46b45);  
$color-nav3:linear-gradient(to left, #eea849, #f46b45);
$color-articulo1:#659999;
$color-articulo2:-webkit-linear-gradient(to left, #f4791f, #659999);
$color-articulo3:linear-gradient(to left, #f4791f, #659999);
$color-info-extra1:#659999;
$color-info-extra2:-webkit-linear-gradient(to left, #f4791f, #659999);
$color-info-extra3:linear-gradient(to left, #f4791f, #659999);
$color-productos1:#000428;
$color-productos2:-webkit-linear-gradient(to right, #004e92, #000428);
$color-productos3:linear-gradient(to right, #004e92, #000428); 
$color-contenedor-p1:#FF512F;
$color-contenedor-p2:-webkit-linear-gradient(to top, #F09819, #FF512F); 
$color-contenedor-p3:linear-gradient(to top, #F09819, #FF512F);
$color-botones1:#005C97;
$color-botones2:-webkit-linear-gradient(to left, #363795, #005C97); 
$color-botones3:linear-gradient(to left, #363795, #005C97);



//Letras
$letra-titulos: "Orbitron";
$letra-descripciones:"Belanosima";
$letras-informacion:"Nunito";
$letras-titulos-extra:"Russo One";

//Tamaños imagenes
$imagenes_promociones: 1325px;